.container-fluid{
    background-color: rgb(238, 233, 226);
    padding: 10px;
}
.collapse.navbar-collapse{
    display: flex;
    justify-content: space-evenly;
    font-size: large;
}
.navbar-nav .nav-link.disabled{
    color:rgb(24, 175, 175) !important;
}
.navbar-nav .nav-link.active, .nav-link {
    color: rgb(221, 84, 84) !important;
}
.navbar-nav .nav-link:hover {
    color:rgb(133, 0, 0) !important;
}
.btn.btn-outline-success{
    background-color: rgb(27, 227, 27);
    color: white;
}


